//* || Primary Colors

$brightOrange: #e38826;
$darkCyan: #006970;
$veryDarkCyan: #004241;

//* || Neutral Colors

$transparentWhite: #ffffffbf;
$veryLightGray: #f2f2f2;

//* Fonts

$titleFont: 'Lexend Deca', sans-serif;
$primaryFont: 'Big Shoulders Display ', cursive;
