.flex-column {
  display: flex;
  flex-direction: column;
}
.container-dialog {
  display: none;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #00000060;
}
#happy-form {
  position: static;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  max-width: 500px;
  transition: all 0.3s ease;

  h1 {
    @extend .title;
    font-size: 2rem;
    margin-bottom: 5px;
  }
  form {
    @extend .flex-column;
    gap: 10px;
  }
  fieldset {
    @extend .flex-column;
  }
  input {
    width: 100%;
    padding: 4px 10px;
    outline-color: $purple;
    border-bottom: 1px solid $purple;
  }
  textarea {
    @extend input;
    resize: none;
  }
  button {
    background-color: $purple;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      filter: brightness(0.9);
    }
  }
  a {
    text-align: center;
    color: $text-color;
  }
}
.error {
  color: red;
}
