* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

main.container {
  height: 100vh;
  width: 100vw;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: rgba(0, 0, 0, 0.4);
}
.popupnet {
  height: 150px;
  width: 300px;
  border-radius: 15px;
  background: #fff url(./loading.gif) no-repeat center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
